/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------ОБНУЛЕНИЕ----------------------------------------- */
html {
  width: 100%;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1600px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.profile {
}
.profile-infoBlock {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-top: 30px;
}
.profile-info-row {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.avatarInitialPicker {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}
.profile-info-name {
  font-family: "Mulish";
  font-size: 38px;
}
.profile-info-username {
  font-family: "Mulish";
  font-size: 22px;
}
.profile-info-email {
  font-family: "Mulish";
  font-size: 20px;
}
.profile-info-avatar {
  margin-right: 20px;
  border-radius: 100%;
  border: 2px solid #5c529a;
  width: 132px;
  height: 132px;
  object-fit: cover;
}
.profile-info-avatar:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile-publish-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 800px;
  margin-top: 60px;
}
.profile-publish-title {
  font-family: "Mulish";
  font-size: 38px;
  text-align: center;
  margin-bottom: 10px;
}
.profileInput {
  display: block;
  max-width: 800px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 8px 0px;
  font-family: "Mulish";
  font-size: 20px;
  border: 1px solid #5c529a;
  color: #5c529a;
  margin-bottom: 18px;
}
.profileInput:focus {
  outline: none;
}
.profile-publish-button {
  width: 100%;
  background-color: #5c529a;
  color: #ffffff;
  font-family: "Mulish";
  font-size: 20px;
  border: none;
  padding: 10px 0px;
  border-radius: 6px;
  cursor: pointer;
}
.profile-error-message {
  color: #ff6251;
  font-family: "Mulish";
  font-size: 18px;
  text-align: center;
  margin-top: 6px;
}

.profile-allposts-block {
  margin-top: 60px;
  margin-bottom: 60px;
}
.profile-allposts-title {
  font-family: "Mulish";
  font-size: 38px;
  text-align: center;
  margin-bottom: 10px;
}
.profile-noPosts {
  font-family: "Mulish";
  font-size: 26px;
  text-align: center;
  opacity: 0.3;
  font-weight: 700;
}
.blog-post-skeleton {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: max-content;
}
.filePickRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.filePickerPhoto-row {
  display: flex;
  align-items: center;
  transition: 0.2s all ease 0s;
}
.filePickerPhoto-icon {
  width: 30px;
  cursor: pointer;
  padding-right: 10px;
}
.filePickerPhoto-row:hover {
  transform: scale(1.05);
  color: #5c529a;
  font-weight: 600;
}
.filePickerPhoto-text {
  font-family: "Mulish";
  font-size: 16px;
  cursor: pointer;
}
.filePickerInitialInput {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-file-input {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
}

.file-input-container {
  display: flex;
  align-items: center;
}

.selected-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-left: 20px;
  border: none;
}
