/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------ОБНУЛЕНИЕ----------------------------------------- */
html {
  width: 100%;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1600px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}
.chat-friend-info {
  /* border-bottom: 1px solid #5c529a; */
  -webkit-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}
.chat-friend-info-block {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
.chat-friend-back {
  font-size: 18px;
  font-family: "Mulish";
  font-weight: 700;
  opacity: 0.3;
}
.chat-friend-back:hover {
  opacity: 0.2;
}
.chat-friend-info-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-friend-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}
.chat-friend-name {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 26px;
  font-family: "Mulish";
}
.chat-messages {
  padding-bottom: 100px;
  overflow-y: scroll;
  max-height: 78vh;
  padding-right: 20px;
}
.chat-messages::-webkit-scrollbar {
  display: none;
}
.chat-row {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
}
.chat-input {
  width: 70%;
  font-size: 24px;
  border-top-left-radius: 10px;
  border: 2px solid #5c529a;
  border-right: none;

  padding: 6px 20px;
  font-family: "Mulish";

  outline: none;
}
.chat-send-button {
  width: 10%;
  font-size: 24px;
  cursor: pointer;
  background-color: #e7e5f0;
  color: #5c529a;
  border-top-right-radius: 10px;
  font-family: "Mulish";
  font-weight: 600;

  border: 2px solid #5c529a;

  transition: 0.3s ease all 0s;
}
.chat-send-button:hover {
  background-color: #5c529a;
  color: #e7e5f0;
}
