.user-card {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #f0eff3;
  width: 100%;
  border-radius: 10px;
}
.user-card-content {
  padding: 12px 20px;
}
.user-card-row {
  display: flex;
}
.user-card-group {
  display: flex;
  align-items: center;
}
.user-card-name {
  font-family: "Mulish";
  font-size: 22px;
  line-height: 24px;
}
.user-card-username {
  font-family: "Mulish";
  font-size: 18px;
  padding-top: 10px;
  line-height: 20px;
  font-weight: 600;
}
.user-card-avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 20px;
  object-fit: cover;
}
