.warning-message {
  background-color: #f7a841;
  text-align: center;
  width: 100%;
  padding: 6px 0px;
  font-family: "Mulish";
  color: #ffffff;
  font-weight: 700;
  position: fixed;
  width: 100%;
  /* top: 54px; */
  top: 0;
  z-index: 50;
}
