/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------ОБНУЛЕНИЕ----------------------------------------- */
html {
  width: 100%;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1600px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}
.music {
  background-color: #faf9f9;
  background-color: #fff;
}
.music-content {
  background-color: #fff;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;

  /* -webkit-box-shadow: 0px 11px 8px 5px rgba(34, 60, 80, 0.09);
  -moz-box-shadow: 0px 11px 8px 5px rgba(34, 60, 80, 0.09);
  box-shadow: 0px 11px 8px 5px rgba(34, 60, 80, 0.09); */
}
.music-mainTitle {
  font-family: "Mulish";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  padding-top: 10px;
}
.music-search-row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 700px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.music-search-input {
  display: block;
  max-width: 800px;
  width: 100%;
  text-align: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 6px 0px;
  font-family: "Mulish";
  font-size: 20px;
  border: 2px solid #5c529a;
  color: #5c529a;
  border-right: none;
}
.music-search-input:focus {
  outline: none;
}
.music-search-button {
  font-size: 20px;
  width: 120px;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  background-color: #e7e5f0;
  font-family: "Mulish";
  border: 2px solid #5c529a;
  transition: 0.3s ease all 0s;
  font-weight: 600;
}
.music-search-button:hover {
  background-color: #5c529a;
  color: #ffffff;
}

.music-label {
  font-family: "Mulish";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #5c529a;
  margin-top: 40px;
}
.music-label-track-name {
  font-weight: 700;
}
.music-fill-settings {
  font-family: "Mulish";
  font-size: 34px;
  font-weight: 600;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 900px;
  color: #969696;
}
.music-fill-settings-redirect {
  color: #5c529a;
  opacity: 0.9;
  font-weight: 700;
}

.music-block {
  margin-top: 80px;
}

.music-recs {
}
.music-recs-mainTitle {
  font-family: "Mulish";
  font-size: 34px;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
}
.music-recs-genre-block {
  margin-top: 20px;
}
.music-recs-genre-name {
  color: #5c529a;
  font-weight: 700;
}
.music-recs-genre-block-title {
  font-family: "Mulish";
  font-size: 28px;
  font-weight: 600;
  padding-top: 10px;
}
.music-recs-genre-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
