/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------ОБНУЛЕНИЕ----------------------------------------- */
html {
  width: 100%;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1600px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.artistPage {
  background-color: #faf9f9;
}
.artistPage-content {
  background-color: #fff;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;

  -webkit-box-shadow: 0px 11px 8px 5px rgba(34, 60, 80, 0.09);
  -moz-box-shadow: 0px 11px 8px 5px rgba(34, 60, 80, 0.09);
  box-shadow: 0px 11px 8px 5px rgba(34, 60, 80, 0.09);
}
.artistInfo-block {
  padding-top: 40px;
}
.artistPage-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  border-radius: 20px;
  margin-bottom: 20px;

  -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.26);
}
.artistPage-genres {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  font-family: "Mulish";
  margin-top: 10px;
}
.artistPage-genre-title {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
}
.artistPage-genre-card {
  margin-right: 10px;
  border-radius: 6px;
  padding: 2px 8px;
  background-color: #e7e5f0;
  /* border: 2px solid #5c529a; */
}
.artistPage-name {
  font-family: "Mulish";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 42px;
  margin-top: 6px;
  font-weight: 700;
}
.artistPage-followers {
  font-family: "Mulish";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}
.artistPage-followers-bold {
  font-weight: 700;
}

.artistTracks-block {
}
.artistTracks-mainTitle {
  font-family: "Mulish";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #5c529a;
  margin-top: 20px;
  margin-bottom: 20px;
}
