.success-message {
  background-color: #89d47a;
  text-align: center;
  width: 100%;
  padding: 6px 0px;
  font-family: "Mulish";
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  top: 54px;
  z-index: 50;
}
