/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------ОБНУЛЕНИЕ----------------------------------------- */
html {
  width: 100%;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1600px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.users-search-row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.users-search-input {
  display: block;
  max-width: 800px;
  width: 100%;
  text-align: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 6px 0px;
  font-family: "Mulish";
  font-size: 20px;
  border: 2px solid #5c529a;
  color: #5c529a;
  border-right: none;
}
.users-search-input:focus {
  outline: none;
}
.users-search-button {
  width: 120px;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  background-color: #e7e5f0;
  font-family: "Mulish";
  border: 2px solid #5c529a;
  transition: 0.3s ease all 0s;
  font-weight: 600;
}
.users-search-button:hover {
  background-color: #5c529a;
  color: #ffffff;
}

.users-sort-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  flex-wrap: wrap;
}
.users-sort-mainTitle {
  font-family: "Mulish";
  font-size: 22px;
  margin-bottom: 10px;
}
.users-sort-button {
  padding: 6px 12px;
  background-color: #f0eff3;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Mulish";
  transition: 0.3s ease all 0s;
  margin-bottom: 10px;
}
.users-sort-button.active {
  background-color: #5c529a;
  color: #ffffff;
  font-weight: 700;
}
.users-sort-button:hover {
  background-color: #e6e4ec;
}

.user-card-skeleton {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 650px;
  margin-top: 10px;
}

.users-noUsers {
  font-size: 32px;
  font-family: "Mulish";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  opacity: 0.5;
}
