/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------ОБНУЛЕНИЕ----------------------------------------- */
html {
  width: 100%;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1600px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.settings {
  background-color: #faf9f9;
}
.settings-content {
  background-color: #fff;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;

  -webkit-box-shadow: 0px 11px 8px 5px rgba(34, 60, 80, 0.09);
  -moz-box-shadow: 0px 11px 8px 5px rgba(34, 60, 80, 0.09);
  box-shadow: 0px 11px 8px 5px rgba(34, 60, 80, 0.09);
}
.settings-block {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 10px;
  padding-right: 10px;
}
.settings-mainTitle {
  font-family: "Mulish";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  padding-top: 10px;
}
.settings-secondary-title {
  font-family: "Mulish";
  font-size: 26px;
  font-weight: 700;
  padding-top: 40px;
}
.settings-setting-type {
  font-family: "Mulish";
  font-size: 22px;
  margin-right: 20px;
  font-weight: 400;
}

.settings-setting-row {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5c529a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings-save-button {
  display: block;
  max-width: max-content;
  margin-right: 0;
  margin-left: auto;
  background-color: #e7e5f0;
  border: none;
  color: #5c529a;
  font-size: 18px;
  padding: 4px 20px;
  cursor: pointer;
  font-family: "Mulish";
  font-weight: 600;
  border-radius: 10px;
  transition: 0.3s ease all 0s;
  margin-top: 40px;
}
.settings-save-button:hover {
  background-color: #5c529a;
  color: #e7e5f0;
}
.settings-your-genre {
  font-family: "Mulish";
  font-size: 22px;
  font-weight: 700;
}
.settings-genres-buttons-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.settings-genre-button {
  background-color: #e7e5f0;
  border: none;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 4px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Mulish";
}
.settings-genre-button.active {
  background-color: #5c529a;
  color: #e7e5f0;
}
